{{template "base" . }}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>
                This is the about page 
            </h1>
            <p> You know what this is about! </p>
            <p>This came from the template: {{index .StringMap "test"}}</p>

            <p>
                {{if ne (index .StringMap "remote_ip") ""}}
                    Your remote_ip address is {{index .StringMap "remote_ip"}}
                {{else}}
                    I dont know your home page, visit the <a href="/">Home Page</a> so I can set it
                {{end}}
            </p>
            <img src="/static/images/outside.png" height="1000" width="1500"/>
        </div>
    </div>
</div>

{{end}}